* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f8f8f8;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
}

.yHeaderTop {
  width: 100%;
  height: 40px;
  background-color: #0080ff;
}

.yHeaderTop .container {
  display: flex;
  justify-content: space-between;
}

.cateLi,
.utilLi {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  color: #ffffff;
}

.cateLi {
  width: 45%;
  font-size: 14px;
  font-weight: bold;
}

.utilLi {
  width: 25%;
  font-size: 11px;
}

.yHeaderMid {
  width: 100%;
  height: 115px;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

.yHeaderMid .container {
  display: flex;
  align-items: center;
  position: relative;
}

img[alt=logo] {
  width: 200px;
  height: auto;
  margin: 5px 30px;
}

.searchBar {
  width: 515px;
  height: 50px;
  border: 2px solid #0080ff;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
.searchBar input {
  width: 430px;
  height: 46px;
  line-height: 46px;
  margin-left: 15px;
  padding-top: 5px;
  border: 0;
  outline: none;
}
.searchBar input::-moz-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.searchBar input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.searchBar i {
  color: #000000;
  line-height: 46px;
  margin: 0 20px;
  font-size: 24px;
}

.gnbBn {
  position: absolute;
  right: 0;
  width: 180px;
  height: 115px;
}
.gnbBn .bnList {
  position: relative;
}
.gnbBn .bnList img {
  width: 100%;
  height: 100%;
  display: none;
}
.gnbBn .bnList img:first-child {
  display: block;
}
.gnbBn .bnNav {
  position: absolute;
  bottom: 20px;
  right: 5px;
  display: flex;
}
.gnbBn .bnNav button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.gnbBn .bnNav button img {
  width: 14px;
  height: 14px;
}

.yHeaderBot {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border-bottom: 2px solid #0080ff;
}

.yHeaderBot .container {
  display: flex;
  justify-content: space-between;
  line-height: 43px;
  font-size: 13px;
}

.yesFixCorner {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.yesFixCorner h2 {
  width: 110px;
  height: 43px;
  color: #ffffff;
  background-color: #0080ff;
  text-align: center;
  font-size: 13px;
}

.yesCornerLi,
.yesServLi {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.yesCornerLi {
  color: #0080ff;
}
.yesCornerLi li:last-child {
  color: #ebebeb;
}

.areaSubMenu {
  width: 38%;
  display: flex;
  justify-content: space-between;
  color: #666666;
}
.areaSubMenu li:first-child {
  color: #66BEFF;
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: #dfdfdf;
}

.yFootTop {
  width: 100%;
  height: 40px;
  border-top: 1px solid #cbcbcb;
}

.yFootTop .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yFootMnuLi {
  width: 80%;
  font-size: 12px;
  color: #666666;
}
.yFootMnuLi li {
  float: left;
  padding: 0 10px;
}
.yFootMnuLi li::after {
  content: "|";
  float: right;
  margin-right: -10px;
}
.yFootMnuLi li:first-child {
  padding-left: 0;
}
.yFootMnuLi li:last-child::after {
  content: "";
}

.yFootSnsLi {
  width: 18%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #666666;
}
.yFootSnsLi li:last-child {
  font-size: 18px;
}
.yFootSnsLi select {
  height: 100%;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333333;
  background-color: #f8f8f8;
  cursor: pointer;
}

.yFootSnsLi > * {
  vertical-align: middle;
}

.yFootCon {
  width: 100%;
  height: 150px;
  border-top: 1px solid #cbcbcb;
}

.yFootCon .container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.yFootCon .container div {
  color: #666666;
}
.yFootCon .container div:first-of-type {
  margin-right: 150px;
}
.yFootCon .container div:first-of-type h4 {
  margin-top: 10px;
  font-size: 14px;
  color: #999999;
}
.yFootCon .container div:first-of-type .yInfo li {
  margin-top: 2px;
  color: #999999;
  font-size: 11px;
  line-height: 16px;
}
.yFootCon .container div:first-of-type .yInfo li:first-of-type {
  margin-top: 10px;
}
.yFootCon .container div:first-of-type p {
  font-size: 11px;
  margin-top: 5px;
  color: #999999;
}
.yFootCon .container div:last-of-type {
  position: absolute;
  right: 0;
  margin-top: -50px;
}
.yFootCon .container div:last-of-type h4 {
  font-size: 14px;
  color: #999999;
}
.yFootCon .container div:last-of-type .yNumber {
  font-size: 11px;
}
.yFootCon .container div:last-of-type .yNumber li {
  margin-top: 2px;
  color: #666666;
}
.yFootCon .container div:last-of-type .yNumber li:first-of-type {
  margin-top: 10px;
}
.yFootCon .container div:last-of-type .yNumber li span {
  color: #333333;
  font-weight: bold;
  margin-right: 5px;
}

img[alt=foot_logo] {
  height: auto;
  margin-right: 25px;
}

.yes24Glory {
  width: 100%;
  height: 110px;
}

img[alt=awards] {
  width: 100%;
  height: auto;
}

.yWelTopWrap {
  width: 1200px;
  height: 420px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  position: relative;
  display: flex;
}

.mbnWrap {
  width: 110px;
  border-right: 1px solid #d8d8d8;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.mbnWrap > li {
  line-height: 40px;
  background-color: #ffffff;
}
.mbnWrap > li:first-child {
  margin-top: 9px;
}
.mbnWrap > li.hovered {
  background-color: #0080ff;
}
.mbnWrap > li.hovered a {
  color: #ffffff;
}

.mbnWrap > li > a {
  padding-left: 15px;
  color: #000000;
}

.sub {
  width: 130px;
  height: 418px;
  background-color: #ffffff;
  display: none;
  border-right: 1px solid #d8d8d8;
  position: absolute;
  top: 0;
  left: 109px;
  padding-left: 15px;
  padding-top: 10px;
  z-index: 3;
}

.sub > li {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -1px;
  font-weight: lighter;
  color: #666666;
}

.sub > li:hover {
  text-decoration: underline;
}

.slider {
  width: 1089px;
  z-index: 1;
  position: relative;
}

.slider_img img {
  display: none;
}
.slider_img img:first-of-type {
  display: block;
}

.slider_button {
  width: 1089px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.slider_button button {
  width: 217px;
  height: 40px;
  border: 0;
  color: #666666;
  background-color: #f8f8f8;
  font-size: 13px;
  line-height: 40px;
}
.slider_button button.hovered {
  color: #ffffff;
  background-color: #333333;
}

.yWelTopMid {
  width: 1200px;
  height: 390px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

.wConLT {
  width: 240px;
  height: 390px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
}

.yWelYESFD {
  position: relative;
  height: 268px;
  z-index: 1;
}
.yWelYESFD h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 9px 0 9px 18px;
}
.yWelYESFD h4 {
  width: 180px;
  margin: 10px 20px;
  line-height: 18px;
  font-size: 13px;
  color: #333;
  font-weight: bold;
  display: none;
}
.yWelYESFD h4:first-of-type {
  display: block;
}

.FD_img {
  text-align: center;
}
.FD_img img {
  width: 200px;
  height: 155px;
  display: none;
}
.FD_img img:first-of-type {
  display: inline-block;
}

.prev {
  width: 35px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 105px;
  z-index: 2;
  display: none;
}
.prev:hover {
  opacity: 1;
  cursor: pointer;
}

.next {
  width: 35px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 105px;
  z-index: 2;
  display: none;
}
.next:hover {
  opacity: 1;
  cursor: pointer;
}

.wADSmallBn {
  height: 120px;
  border-top: 1px solid #d8d8d8;
  text-align: center;
}

img[alt=smallBn] {
  width: 188px;
  height: 99px;
}

.yWelTodayBook {
  width: 720px;
  height: 390px;
  position: relative;
}
.yWelTodayBook .book_area {
  height: 375px;
  display: flex;
}
.yWelTodayBook .book_area .book_img img {
  width: 225px;
  height: 335px;
  margin-left: 40px;
  border: 1px solid #d8d8d8;
}
.yWelTodayBook .book_area .book_info {
  width: 380px;
  margin-left: 30px;
}
.yWelTodayBook .book_area .book_info h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 5px 0 5px 0;
}
.yWelTodayBook .book_area .book_info h2:nth-of-type(2) {
  color: #6699cc;
}
.yWelTodayBook .book_area .book_info h4:nth-of-type(1) {
  color: #999999;
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: justify;
}
.yWelTodayBook .book_area .book_info h6 {
  font-size: 12px;
  color: #999;
  margin-top: 8px;
  margin-bottom: 8px;
}
.yWelTodayBook .bar {
  width: 680px;
  height: 15px;
  position: absolute;
  bottom: 0;
  margin: 0 20px;
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  box-shadow: 0 4px 1px #eee;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

.bestOn {
  width: 240px;
  height: 390px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
}
.bestOn div {
  display: flex;
}
.bestOn div button {
  width: 119px;
  height: 30px;
  line-height: 30px;
  border: 0;
  font-size: 12px;
  background-color: #ffffff;
}
.bestOn div button:nth-of-type(2) {
  color: #999999;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.bestOn select {
  width: 200px;
  height: 25px;
  margin: 15px 16.5px;
  padding-left: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  cursor: pointer;
}
.bestOn ol {
  margin-top: 10px;
}
.bestOn ol li {
  width: 210px;
  height: 50px;
  margin: 8px auto;
  display: flex;
}
.bestOn ol li img:nth-of-type(1) {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 10px;
}
.bestOn ol li img:nth-of-type(2) {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border: 1px solid #d8d8d8;
}
.bestOn ol li div {
  display: inline-block;
  width: 120px;
}
.bestOn ol li div h4 {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 2px 0 5px 0;
}
.bestOn ol li div h5 {
  font-size: 10px;
  color: #999;
  margin-top: 8px;
  margin-bottom: 8px;
}

.yWelMid {
  width: 1200px;
  height: 385px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  position: relative;
}

.yWelNowBook {
  width: 959px;
  height: 383px;
  position: absolute;
  left: 0;
}
.yWelNowBook h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 20px 0 15px 30px;
}
.yWelNowBook ul {
  display: flex;
  justify-content: center;
}
.yWelNowBook ul li {
  width: 210px;
  padding-left: 25px;
}
.yWelNowBook ul li img {
  width: 125px;
  height: 180px;
  border: 1px solid #d8d8d8;
}
.yWelNowBook ul li h4 {
  color: #333333;
  font-size: 14px;
  margin-top: 10px;
}
.yWelNowBook ul li h6 {
  color: #999999;
  font-size: 12px;
  margin-top: 8px;
}
.yWelNowBook ul li h5 {
  color: #333333;
  font-size: 12px;
  margin-top: 8px;
}

.yWelPubBook {
  width: 239px;
  height: 383px;
  position: absolute;
  right: 0;
  background-color: #ecf5fe;
}
.yWelPubBook h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 20px 0 15px 30px;
}
.yWelPubBook li {
  width: 200px;
  height: 130px;
  text-align: center;
  margin: 0 20px 0;
}
.yWelPubBook li:first-of-type {
  border-bottom: 1px solid #d8d8d8;
}
.yWelPubBook li:last-of-type {
  margin-top: 30px;
}
.yWelPubBook li img {
  width: 158px;
  height: 100px;
}

.yWelBand {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  text-align: center;
  background: url(../img/bg.jpg) repeat center;
}

img[alt=bg_text] {
  width: 1200px;
  height: 200px;
}

.yWelMidBot {
  width: 1200px;
  height: 370px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  position: relative;
}

.yWelBookClub {
  width: 959px;
  height: 368px;
  position: absolute;
  left: 0;
}
.yWelBookClub h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 20px 0 15px 30px;
}
.yWelBookClub h2 span {
  color: #425ca9;
}
.yWelBookClub ul {
  display: flex;
  justify-content: center;
}
.yWelBookClub ul li {
  width: 210px;
  padding-left: 25px;
}
.yWelBookClub ul li img {
  width: 125px;
  height: 180px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
}
.yWelBookClub ul li h4 {
  color: #333333;
  font-size: 14px;
  margin-top: 10px;
}
.yWelBookClub ul li h6 {
  color: #999999;
  font-size: 12px;
  margin-top: 8px;
}
.yWelBookClub ul li h5 {
  color: #333333;
  font-size: 12px;
  margin-top: 8px;
}

img[alt=midHTML] {
  width: 239px;
  height: 368px;
  position: absolute;
  right: 0;
}

.yWelMultiSec {
  width: 1200px;
  height: 710px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
}
.yWelMultiSec ul {
  display: flex;
  justify-content: end;
}
.yWelMultiSec ul li {
  width: 171px;
  height: 60px;
  text-align: center;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f8f8f8;
}
.yWelMultiSec ul li:nth-of-type(1) {
  border: 0;
  background-color: #ffffff;
}
.yWelMultiSec ul li img {
  width: 50px;
  height: 40px;
  margin-top: 3px;
}
.yWelMultiSec ul li h4 {
  font-size: 12px;
  margin-top: -8px;
  font-weight: lighter;
}
.yWelMultiSec div:nth-of-type(1) {
  width: 1198px;
  height: 428px;
  border-bottom: 1px solid #d8d8d8;
}
.yWelMultiSec div:nth-of-type(1) h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 20px 0 15px 30px;
}
.yWelMultiSec div:nth-of-type(1) ul {
  display: flex;
  justify-content: center;
}
.yWelMultiSec div:nth-of-type(1) ul li {
  width: 362px;
  height: 341px;
  background-color: #ffffff;
  border: 0;
}
.yWelMultiSec div:nth-of-type(1) ul li img {
  width: auto;
  height: 250px;
  border: 1px solid #d8d8d8;
}
.yWelMultiSec div:nth-of-type(1) ul li h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.yWelMultiSec div:nth-of-type(1) ul li h5 {
  color: #999999;
  font-size: 12px;
  margin-top: 8px;
}
.yWelMultiSec div:nth-of-type(1) ul li h6 {
  color: #333333;
  font-size: 12px;
  margin-top: 8px;
}
.yWelMultiSec div:nth-of-type(2) {
  height: 198px;
  display: flex;
  align-items: center;
}
.yWelMultiSec div:nth-of-type(2) .textBox {
  width: 420px;
  height: 169px;
  border: 0;
}
.yWelMultiSec div:nth-of-type(2) .textBox h2 {
  height: 34px;
  line-height: 34px;
  font-size: 17px;
  font-weight: bold;
  color: #333;
  margin: 20px 0 0 36px;
}
.yWelMultiSec div:nth-of-type(2) .textBox p {
  width: 315px;
  height: 37px;
  margin: 12px 0 0 36px;
  font-size: 13px;
  color: #999999;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.yWelMultiSec div:nth-of-type(2) .bookBox {
  width: 740px;
  height: 169px;
}
.yWelMultiSec div:nth-of-type(2) .bookBox ul {
  display: flex;
}
.yWelMultiSec div:nth-of-type(2) .bookBox ul li {
  width: 186px;
  height: 144px;
  text-align: center;
  background-color: #ffffff;
  border: 0;
}
.yWelMultiSec div:nth-of-type(2) .bookBox ul li img {
  width: auto;
  height: 120px;
  border: 1px solid #d8d8d8;
  margin-bottom: 15px;
}

.yWelYesTv {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
}
.yWelYesTv h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 20px 0 20px 30px;
}
.yWelYesTv > div {
  display: flex;
}
.yWelYesTv .youtube {
  width: 700px;
}
.yWelYesTv .youtube h2 {
  font-size: 15px;
  letter-spacing: 0.5px;
}
.yWelYesTv .youtube iframe {
  width: 640px;
  height: 360px;
  margin: 0 30px -15px 30px;
}
.yWelYesTv .youtube_info {
  width: 498px;
  height: 360px;
  position: relative;
}
.yWelYesTv .youtube_info h4 {
  font-size: 13px;
  margin-bottom: 15px;
}
.yWelYesTv .youtube_info > div {
  display: flex;
}
.yWelYesTv .youtube_info > div img {
  width: 136px;
  border: 1px solid #d8d8d8;
  margin-right: 15px;
}
.yWelYesTv .youtube_info > div div h6 {
  color: #6699cc;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 2px;
}
.yWelYesTv .youtube_info > div div h4 {
  margin-bottom: 8px;
}
.yWelYesTv .youtube_info > div div h5 {
  color: #999999;
  font-size: 12px;
  font-weight: lighter;
}
.yWelYesTv .youtube_info > div div h5:nth-of-type(2) {
  margin-top: 5px;
}
.yWelYesTv .youtube_info ul {
  position: absolute;
  bottom: 0;
  display: flex;
}
.yWelYesTv .youtube_info ul li img {
  width: 136px;
  height: 76px;
  margin-right: 30px;
}

.yWelChYesCard {
  width: 1200px;
  height: 615px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  display: flex;
}
.yWelChYesCard > div:nth-of-type(1) {
  width: 418px;
  height: 613px;
  border-right: 1px solid #d8d8d8;
}
.yWelChYesCard > div:nth-of-type(1) h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 20px 0 15px 30px;
}
.yWelChYesCard > div:nth-of-type(1) > div {
  width: 358px;
  height: 140px;
  margin-left: 30px;
  display: flex;
}
.yWelChYesCard > div:nth-of-type(1) > div img {
  height: 140px;
}
.yWelChYesCard > div:nth-of-type(1) > div div {
  margin-left: 15px;
  position: relative;
}
.yWelChYesCard > div:nth-of-type(1) > div div h4 {
  width: 230px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.yWelChYesCard > div:nth-of-type(1) > div div p {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #999;
  vertical-align: bottom;
}
.yWelChYesCard > div:nth-of-type(1) > div div p span {
  color: #333333;
  font-weight: bold;
}
.yWelChYesCard > div:nth-of-type(1) > img {
  width: 358px;
  height: 358px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: 30px;
  margin-top: 20px;
}
.yWelChYesCard > div:nth-of-type(2) {
  width: 779px;
  height: 613px;
}
.yWelChYesCard > div:nth-of-type(2) img {
  width: 160px;
  height: 113px;
  border: 1px solid #d8d8d8;
}
.yWelChYesCard > div:nth-of-type(2) ul {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.yWelChYesCard > div:nth-of-type(2) ul li {
  width: 200px;
  height: 191px;
  margin-left: 40px;
}
.yWelChYesCard > div:nth-of-type(2) ul li strong {
  margin-top: 8px;
  font-size: 12px;
}
.yWelChYesCard > div:nth-of-type(2) ul li span {
  margin-top: 5px;
  font-size: 12px;
  color: #999999;
}
.yWelChYesCard > div:nth-of-type(2) li > * {
  display: block;
}
.yWelChYesCard > div:nth-of-type(2) > div:nth-of-type(1) {
  width: 779px;
  height: 306px;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}
.yWelChYesCard > div:nth-of-type(2) > div:nth-of-type(1) h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  padding: 20px 0 15px 30px;
}
.yWelChYesCard > div:nth-of-type(2) > div:nth-of-type(2) {
  width: 779px;
  height: 306px;
  position: relative;
}
.yWelChYesCard > div:nth-of-type(2) > div:nth-of-type(2) h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  padding: 20px 0 15px 30px;
}

.textBar {
  width: 780px;
  height: 40px;
  background-color: #f8f8f8;
  position: absolute;
  bottom: 0;
}
.textBar p {
  width: 780px;
  height: 100%;
  padding: 15px 0 12px 19px;
  font-size: 12px;
  color: #666666;
  line-height: 15px;
}
.textBar p span {
  color: #333333;
  margin-right: 30px;
  font-weight: bold;
}

.yesServ {
  width: 1200px;
  height: 240px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  display: flex;
}
.yesServ > div:nth-of-type(1) {
  width: 721px;
  height: 238px;
  border-right: 1px solid #d8d8d8;
}
.yesServ > div:nth-of-type(1) h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  padding: 10px 0 15px 20px;
}
.yesServ > div:nth-of-type(1) div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.yesServ > div:nth-of-type(1) div dl {
  width: 160px;
  height: 155px;
  margin-right: 20px;
  line-height: 20px;
}
.yesServ > div:nth-of-type(1) div dl dt {
  width: 160px;
  height: 30px;
  background-color: #666666;
  text-align: center;
  margin-bottom: 8px;
}
.yesServ > div:nth-of-type(1) div dl dt strong {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  line-height: 30px;
}
.yesServ > div:nth-of-type(1) div dl dd {
  font-size: 12px;
  color: #666666;
}
.yesServ > div:nth-of-type(1) div dl:last-child {
  width: 120px;
  height: 155px;
  margin: 0 10px;
}
.yesServ > div:nth-of-type(1) div dl:last-child dt {
  width: 120px;
  height: 51px;
  background-color: #ffffff;
  margin-bottom: 8px;
}
.yesServ > div:nth-of-type(1) div dl:last-child dd {
  margin-bottom: 8px;
}
.yesServ > div:nth-of-type(2) {
  width: 239px;
  height: 238px;
  border-right: 1px solid #d8d8d8;
}
.yesServ > div:nth-of-type(2) h2 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  padding: 10px 0 15px 20px;
}
.yesServ > div:nth-of-type(2) img {
  margin: 30px 5px 0 5px;
}
.yesServ > div:nth-of-type(3) {
  width: 238px;
  height: 238px;
}
.yesServ > div:nth-of-type(3) div {
  width: 238px;
  height: 119px;
  text-align: center;
}
.yesServ > div:nth-of-type(3) div img {
  padding: 11px 0;
}
.yesServ > div:nth-of-type(3) div:nth-of-type(1) {
  border-bottom: 1px solid #d8d8d8;
}

.yWelNotice {
  width: 1200px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}
.yWelNotice ul {
  display: flex;
}
.yWelNotice ul li {
  list-style: circle;
  font-size: 12px;
  color: #666666;
  height: 80px;
  line-height: 80px;
  margin-right: 40px;
}
.yWelNotice ul li:nth-of-type(1) {
  list-style: none;
  width: 100px;
  margin-right: 10px;
}
.yWelNotice ul li:nth-of-type(1) h2 {
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  padding-left: 20px;
}
.yWelNotice div {
  width: 1200px;
  height: 80px;
  border: 1px solid #d8d8d8;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.yWelNotice div img {
  width: 479px;
  height: 58px;
}