* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  height: 120px;
  background-color: #0080ff;
}

/* footer */