* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f8f8f8;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
}

.yHeaderTop {
  width: 100%;
  height: 40px;
  background-color: #0080ff;
}

.yHeaderTop .container {
  display: flex;
  justify-content: space-between;
}

.cateLi,
.utilLi {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  color: #ffffff;
}

.cateLi {
  width: 45%;
  font-size: 14px;
  font-weight: bold;
}

.utilLi {
  width: 25%;
  font-size: 11px;
}

.yHeaderMid {
  width: 100%;
  height: 115px;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

.yHeaderMid .container {
  display: flex;
  align-items: center;
  position: relative;
}

img[alt=logo] {
  width: 200px;
  height: auto;
  margin: 5px 30px;
}

.searchBar {
  width: 515px;
  height: 50px;
  border: 2px solid #0080ff;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
.searchBar input {
  width: 430px;
  height: 46px;
  line-height: 46px;
  margin-left: 15px;
  padding-top: 5px;
  border: 0;
  outline: none;
}
.searchBar input::-moz-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.searchBar input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.searchBar i {
  color: #000000;
  line-height: 46px;
  margin: 0 20px;
  font-size: 24px;
}

.gnbBn {
  position: absolute;
  right: 0;
  width: 180px;
  height: 115px;
}
.gnbBn .bnList {
  position: relative;
}
.gnbBn .bnList img {
  width: 100%;
  height: 100%;
  display: none;
}
.gnbBn .bnList img:first-child {
  display: block;
}
.gnbBn .bnNav {
  position: absolute;
  bottom: 20px;
  right: 5px;
  display: flex;
}
.gnbBn .bnNav button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.gnbBn .bnNav button img {
  width: 14px;
  height: 14px;
}

.yHeaderBot {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border-bottom: 2px solid #0080ff;
}

.yHeaderBot .container {
  display: flex;
  justify-content: space-between;
  line-height: 43px;
  font-size: 13px;
}

.yesFixCorner {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.yesFixCorner h2 {
  width: 110px;
  height: 43px;
  color: #ffffff;
  background-color: #0080ff;
  text-align: center;
  font-size: 13px;
}

.yesCornerLi,
.yesServLi {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.yesCornerLi {
  color: #0080ff;
}
.yesCornerLi li:last-child {
  color: #ebebeb;
}

.areaSubMenu {
  width: 38%;
  display: flex;
  justify-content: space-between;
  color: #666666;
}
.areaSubMenu li:first-child {
  color: #66BEFF;
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: #dfdfdf;
}

.yFootTop {
  width: 100%;
  height: 40px;
  border-top: 1px solid #cbcbcb;
}

.yFootTop .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yFootMnuLi {
  width: 80%;
  font-size: 12px;
  color: #666666;
}
.yFootMnuLi li {
  float: left;
  padding: 0 10px;
}
.yFootMnuLi li::after {
  content: "|";
  float: right;
  margin-right: -10px;
}
.yFootMnuLi li:first-child {
  padding-left: 0;
}
.yFootMnuLi li:last-child::after {
  content: "";
}

.yFootSnsLi {
  width: 18%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #666666;
}
.yFootSnsLi li:last-child {
  font-size: 18px;
}
.yFootSnsLi select {
  height: 100%;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333333;
  background-color: #f8f8f8;
  cursor: pointer;
}

.yFootSnsLi > * {
  vertical-align: middle;
}

.yFootCon {
  width: 100%;
  height: 150px;
  border-top: 1px solid #cbcbcb;
}

.yFootCon .container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.yFootCon .container div {
  color: #666666;
}
.yFootCon .container div:first-of-type {
  margin-right: 150px;
}
.yFootCon .container div:first-of-type h4 {
  margin-top: 10px;
  font-size: 14px;
  color: #999999;
}
.yFootCon .container div:first-of-type .yInfo li {
  margin-top: 2px;
  color: #999999;
  font-size: 11px;
  line-height: 16px;
}
.yFootCon .container div:first-of-type .yInfo li:first-of-type {
  margin-top: 10px;
}
.yFootCon .container div:first-of-type p {
  font-size: 11px;
  margin-top: 5px;
  color: #999999;
}
.yFootCon .container div:last-of-type {
  position: absolute;
  right: 0;
  margin-top: -50px;
}
.yFootCon .container div:last-of-type h4 {
  font-size: 14px;
  color: #999999;
}
.yFootCon .container div:last-of-type .yNumber {
  font-size: 11px;
}
.yFootCon .container div:last-of-type .yNumber li {
  margin-top: 2px;
  color: #666666;
}
.yFootCon .container div:last-of-type .yNumber li:first-of-type {
  margin-top: 10px;
}
.yFootCon .container div:last-of-type .yNumber li span {
  color: #333333;
  font-weight: bold;
  margin-right: 5px;
}

img[alt=foot_logo] {
  height: auto;
  margin-right: 25px;
}

.yes24Glory {
  width: 100%;
  height: 110px;
}

img[alt=awards] {
  width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
}

.cateLi li:nth-of-type(1) {
  background-color: #ffffff;
  color: #000000;
  padding: 0 5px;
}

.yTopBn {
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #ebebeb;
  background-color: #eee;
}
.yTopBn p {
  line-height: 60px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-align: center;
}
.yTopBn p span {
  color: #FF6666;
  margin-left: 10px;
}

.yLocation {
  width: 100%;
  height: 40px;
  border-bottom: solid 1px #e5e5e5;
  background-color: #f8f8f8;
}
.yLocation p {
  width: 1200px;
  line-height: 40px;
  margin: 0 auto;
  font-size: 12px;
  color: #555;
}

.yDetailTopWrap {
  width: 1200px;
  height: 685px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
}
.yDetailTopWrap .topColLft {
  width: 400px;
  height: 650px;
  position: relative;
  perspective: 2000px;
}
.yDetailTopWrap .topColLft .turn_book {
  width: 400px;
  height: 587.5px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}
.yDetailTopWrap .topColLft .turn_book img {
  width: 100%;
  height: 100%;
  transform: translateZ(-1px);
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
  backface-visibility: hidden;
}
.yDetailTopWrap .topColLft .turn_book:hover {
  transform: rotateY(40deg) !important;
  cursor: url(../img/ico_flip.svg), pointer !important;
}
.yDetailTopWrap .topColLft .turn_book:hover img {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
}
.yDetailTopWrap .topColLft .turn_book::before {
  content: "";
  width: 43px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/side.png);
  filter: brightness(90%);
  background-size: cover;
  transform-origin: left;
  transform: rotateY(90deg);
}
.yDetailTopWrap .topColLft .turn_book::after {
  content: "";
  width: 400px;
  height: 587.5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/back.jpg);
  background-size: cover;
  transform: rotateY(180deg) translateZ(44px);
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
}
.yDetailTopWrap .topColLft .turn_book.rotate {
  transform: rotateY(180deg) !important;
}
.yDetailTopWrap .topColLft .button_list {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
}
.yDetailTopWrap .topColLft button {
  width: 96px;
  height: 30px;
  line-height: 10px;
  position: static;
  padding: 0 4px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-size: 12px;
}
.yDetailTopWrap .topColLft button:hover {
  cursor: pointer;
}
.yDetailTopWrap .topColRgt {
  width: 760px;
  height: 685px;
  margin-left: 40px;
}
.yDetailTopWrap .topColRgt .gd_infoTop {
  padding-bottom: 25px;
  border-bottom: solid 1px #d8d8d8;
}
.yDetailTopWrap .topColRgt .gd_infoTop li:nth-of-type(1) button {
  width: 50px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  border: solid 1px #d8d8d8;
  border-radius: 3px;
  font-size: 11px;
  background-color: #fff;
}
.yDetailTopWrap .topColRgt .gd_infoTop li:nth-of-type(2) {
  padding-top: 8px;
  padding-bottom: 10px;
  line-height: 1.2em;
  color: #333;
  font-size: 23px;
  font-weight: 600;
}
.yDetailTopWrap .topColRgt .gd_infoTop li:nth-of-type(2) span {
  color: #666;
  font-size: 16px;
  vertical-align: 2px;
  font-weight: normal;
  margin-left: 8px;
}
.yDetailTopWrap .topColRgt .gd_infoTop li:nth-of-type(3) {
  font-size: 12px;
  color: #666;
  padding-bottom: 10px;
}
.yDetailTopWrap .topColRgt .gd_infoTop li:nth-of-type(4) {
  height: 20px;
  font-size: 12px;
  color: #666;
  padding-bottom: 10px;
}
.yDetailTopWrap .topColRgt .gd_infoTop li:nth-of-type(4) i {
  color: #6699cc;
  font-size: 16px;
  vertical-align: top;
  padding-top: 3px;
}
.yDetailTopWrap .topColRgt .gd_infoTop li:nth-of-type(4) span {
  font-weight: bolder;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
}
.yDetailTopWrap .topColRgt .gd_infoBot {
  display: flex;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea {
  width: 500px;
  height: 470px;
  padding-top: 20px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(1) {
  color: #ff6666;
  font-weight: bold;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(1) td {
  padding-bottom: 10px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(1) td button {
  width: 100px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  border: solid 1px #ff6666;
  border-radius: 24px;
  color: #ff6666;
  background-color: #ffffff;
  text-align: center;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
  color: #666;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(2) td {
  padding-bottom: 5px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(3) {
  font-size: 12px;
  line-height: 18px;
  color: #333;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(3) td:nth-of-type(2) {
  vertical-align: -4px;
  color: #ff6666;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(3) td:nth-of-type(2) span {
  font-size: 24px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(4) {
  font-size: 12px;
  line-height: 18px;
  color: #333;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(4) td:nth-of-type(2) {
  vertical-align: -4px;
  padding-top: 5px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(4) td:nth-of-type(2) span {
  font-size: 24px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(5) {
  font-size: 12px;
  line-height: 18px;
  color: #666;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(6) {
  font-size: 12px;
  line-height: 18px;
  color: #666;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(6) td {
  padding-bottom: 10px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea hr {
  background: #ebebeb;
  height: 1px;
  border: 0;
  margin-bottom: 20px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(8),
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(10),
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(11) {
  font-size: 12px;
  line-height: 18px;
  color: #666;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(8) td,
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(10) td,
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea tr:nth-of-type(11) td {
  padding-bottom: 10px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_infoTbArea .fa-circle {
  font-size: 2px;
  vertical-align: middle;
  margin-right: 5px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions {
  width: 220px;
  height: 544px;
  margin-left: 40px;
  background-color: #eee;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li {
  margin-left: 20px;
  width: 180px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(1) {
  font-size: 12px;
  line-height: 18px;
  color: #333;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 12px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(2) {
  line-height: 24px;
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(2) button {
  width: 24px;
  height: 24px;
  line-height: 0;
  font-weight: lighter;
  font-size: 20px;
  color: #333;
  border: 1px solid #d8d8d8;
  background-color: #f8f8f8;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(2) button:hover {
  cursor: pointer;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(2) button:nth-of-type(1) {
  margin-left: 10px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(2) span {
  height: 23px;
  width: 50px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  color: #000000;
  vertical-align: top;
  border-top: 1px solid #d8d8d8;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(3) {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
  background-color: #0080ff;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(3):hover {
  cursor: pointer;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(4) {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
  background-color: #199db3;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(4):hover {
  cursor: pointer;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions hr {
  background: #d8d8d8;
  height: 1px;
  border: 0;
  margin-bottom: 20px;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(6),
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(7) {
  line-height: 24px;
  font-size: 12px;
  color: #666;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(8) {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  border: 1px solid #d8d8d8;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(8):hover {
  cursor: pointer;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(9) {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #d8d8d8;
}
.yDetailTopWrap .topColRgt .gd_infoBot .gd_actions li:nth-of-type(9):hover {
  cursor: pointer;
}

.yDetailBnWrap {
  width: 1200px;
  height: 102px;
  margin: 40px auto 30px;
  display: flex;
  border: solid 1px #ebebeb;
}
.yDetailBnWrap li {
  width: 226px;
  height: 25px;
  line-height: 25px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 12px;
  color: #666666;
  border-bottom: solid 1px #ebebeb;
  display: flex;
  justify-content: space-between;
}
.yDetailBnWrap li span {
  display: none;
}
.yDetailBnWrap li.hovered {
  background-color: #ebebeb;
  color: #444444;
  font-weight: bold;
  cursor: pointer;
}
.yDetailBnWrap li.hovered span {
  display: block;
}
.yDetailBnWrap li:nth-of-type(4) {
  border: 0 !important;
}
.yDetailBnWrap div img {
  display: none;
}
.yDetailBnWrap div img:nth-of-type(1) {
  display: block;
}

.nomiG_buy {
  width: 1200px;
  height: 403px;
  margin: 0 auto;
  border: 1px solid #d8d8d8;
}
.nomiG_buy ul:nth-of-type(1) {
  display: flex;
}
.nomiG_buy ul:nth-of-type(1) li {
  width: 600px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.nomiG_buy ul:nth-of-type(1) li span {
  color: #6699CC;
}
.nomiG_buy ul:nth-of-type(1) li:nth-of-type(2) {
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f8f8f8;
}
.nomiG_buy .nomi_list {
  display: flex;
  justify-content: space-around;
  margin: 50px 30px 0;
}
.nomiG_buy .nomi_list li {
  padding-left: 30px;
}
.nomiG_buy .nomi_list li img {
  width: 125px;
  border: 1px solid #d8d8d8;
}
.nomiG_buy .nomi_list li h4 {
  font-size: 13px;
  color: #333333;
}
.nomiG_buy .nomi_list li h4:nth-of-type(1) {
  margin-top: 15px;
  margin-bottom: 5px;
}
.nomiG_buy .nomi_list li h5 {
  font-size: 12px;
  color: #999999;
  margin-bottom: 5px;
}

.gd_tabBar {
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #333333;
  margin-top: 40px;
}
.gd_tabBar > div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gd_tabBar > div ul {
  display: flex;
}
.gd_tabBar > div ul:nth-of-type(1) li {
  width: 154px;
  height: 59px;
  line-height: 59px;
  text-align: center;
  font-weight: bolder;
}
.gd_tabBar > div ul:nth-of-type(1) li:nth-of-type(1) {
  background-color: #333333;
  color: #ffffff;
}
.gd_tabBar > div ul:nth-of-type(1) li:nth-of-type(2) {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}
.gd_tabBar > div ul:nth-of-type(1) li:hover {
  cursor: pointer;
}
.gd_tabBar > div ul:nth-of-type(2) li {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.gd_tabBar > div ul:nth-of-type(2) li:nth-of-type(1) {
  color: #ff6666;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
}
.gd_tabBar > div ul:nth-of-type(2) li:nth-of-type(2) {
  margin-right: 8px;
  background-color: #0080ff;
  border-radius: 3px;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}
.gd_tabBar > div ul:nth-of-type(2) li:nth-of-type(2):hover {
  cursor: pointer;
}
.gd_tabBar > div ul:nth-of-type(2) li:nth-of-type(3) {
  background-color: #199db3;
  border-radius: 3px;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}
.gd_tabBar > div ul:nth-of-type(2) li:nth-of-type(3):hover {
  cursor: pointer;
}

.boxes {
  width: 1200px;
  margin: 0 auto;
  padding-top: 33px;
}

#tmpBox {
  width: 960px;
  padding-right: 20px;
}
#tmpBox table:nth-of-type(1) {
  width: 940px;
  height: 164px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-collapse: collapse;
  margin-bottom: 20px;
}
#tmpBox table:nth-of-type(1) th {
  width: 170px;
  height: 41px;
  font-size: 13px;
  background-color: #f8f8f8;
  color: #333333;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
#tmpBox table:nth-of-type(1) td {
  width: 770px;
  height: 41px;
  font-size: 12px;
  color: #666666;
  padding-left: 14px;
  border-bottom: 1px solid #ebebeb;
}
#tmpBox table:nth-of-type(1) tr:nth-of-type(4) th {
  border-bottom: 0;
}
#tmpBox table:nth-of-type(1) tr:nth-of-type(4) td {
  border-bottom: 0;
}
#tmpBox .setLi {
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;
  padding-left: 15px;
  color: #666666;
  list-style: circle;
}
#tmpBox hr {
  background: #d8d8d8;
  height: 1px;
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
#tmpBox .txtInner {
  color: #666666;
  line-height: 30px;
  margin-top: 10px;
  text-align: justify;
}
#tmpBox .txtInner p:nth-of-type(1) {
  font-weight: bold;
}
#tmpBox pre:nth-of-type(1) {
  font-size: 15px;
  line-height: 1.74em;
  color: #666666;
  font-family: "Nanum Gothic", sans-serif;
  text-align: justify;
}
#tmpBox .author {
  width: 940px;
  height: 720px;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
}
#tmpBox .author h3:nth-of-type(1) {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  background-color: #f8f8f8;
  color: #333333;
  padding-left: 20px;
  border-bottom: 1px solid #ebebeb;
}
#tmpBox .author p {
  width: 880px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 15px;
  line-height: 1.74em;
  color: #666666;
  border-bottom: 1px solid #ebebeb;
}
#tmpBox .author h3:nth-of-type(2) {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  color: #333333;
  padding-left: 30px;
  padding-top: 10px;
}
#tmpBox .intoBook {
  font-size: 15px;
  line-height: 1.74em;
  color: #666666;
  text-align: justify;
}
#tmpBox .pubReview {
  font-size: 15px;
  line-height: 1.74em;
  color: #666666;
  text-align: justify;
}
#tmpBox .authorLi {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}
#tmpBox .authorLi li {
  width: 130px;
}
#tmpBox .authorLi li img {
  width: 130px;
  border: 1px solid #d8d8d8;
  margin-bottom: 5px;
}
#tmpBox .authorLi li h4 {
  font-size: 13px;
  font-weight: lighter;
  color: #333333;
  margin: 10px 0;
}
#tmpBox .authorLi li h4 span {
  font-weight: bold;
}

#contBox {
  width: 240px;
  padding-left: 20px;
}