* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
}

.yHeaderTop {
  width: 100%;
  height: 40px;
  background-color: #0080ff;
}

.yHeaderTop .container {
  display: flex;
  justify-content: space-between;
}

.cateLi,
.utilLi {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  color: #ffffff;
}

.cateLi {
  width: 45%;
  font-size: 14px;
  font-weight: bold;
}

.utilLi {
  width: 25%;
  font-size: 11px;
}

.yHeaderMid {
  width: 100%;
  height: 115px;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

.yHeaderMid .container {
  display: flex;
  align-items: center;
}

img[alt=logo] {
  width: 200px;
  height: auto;
  margin: 5px 30px;
}

.searchBar {
  width: 515px;
  height: 50px;
  border: 2px solid #0080ff;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
.searchBar input {
  width: 430px;
  height: 46px;
  line-height: 46px;
  margin-left: 15px;
  padding-top: 5px;
  border: 0;
  outline: none;
}
.searchBar input::-moz-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.searchBar input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.searchBar i {
  color: #000000;
  line-height: 46px;
  margin: 0 20px;
  font-size: 24px;
}

.yHeaderBot {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border-bottom: 2px solid #0080ff;
}

.yHeaderBot .container {
  display: flex;
  justify-content: space-between;
  line-height: 43px;
  font-size: 13px;
}

.yesFixCorner {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.yesFixCorner h2 {
  width: 110px;
  height: 43px;
  color: #ffffff;
  background-color: #0080ff;
  text-align: center;
  font-size: 13px;
}

.yesCornerLi,
.yesServLi {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.yesCornerLi {
  color: #0080ff;
}
.yesCornerLi li:last-child {
  color: #ebebeb;
}

.areaSubMenu {
  width: 38%;
  display: flex;
  justify-content: space-between;
  color: #666666;
}
.areaSubMenu li:first-child {
  color: #66BEFF;
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: #dfdfdf;
}

.yFootTop {
  width: 100%;
  height: 40px;
  border-top: 1px solid #cbcbcb;
}

.yFootTop .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yFootMnuLi {
  width: 80%;
  font-size: 12px;
  color: #666666;
}
.yFootMnuLi li {
  float: left;
  padding: 0 10px;
}
.yFootMnuLi li::after {
  content: "|";
  float: right;
  margin-right: -10px;
}
.yFootMnuLi li:first-child {
  padding-left: 0;
}
.yFootMnuLi li:last-child::after {
  content: "";
}

.yFootSnsLi {
  width: 18%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #666666;
}
.yFootSnsLi li:last-child {
  font-size: 18px;
  margin-left: 5px;
}

.yFootSnsLi > * {
  vertical-align: middle;
}

.yFootCon {
  width: 100%;
  height: 150px;
  border-top: 1px solid #cbcbcb;
}

.yFootCon .container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.yFootCon .container div {
  color: #666666;
}
.yFootCon .container div:first-of-type {
  margin-right: 150px;
}
.yFootCon .container div:first-of-type h4 {
  font-size: 14px;
  color: #999999;
}
.yFootCon .container div:first-of-type .yInfo {
  font-size: 11px;
}
.yFootCon .container div:first-of-type .yInfo li {
  margin-top: 2px;
  color: #999999;
}
.yFootCon .container div:first-of-type .yInfo li:first-of-type {
  margin-top: 10px;
}
.yFootCon .container div:first-of-type p {
  font-size: 11px;
  margin-top: 5px;
  color: #999999;
}
.yFootCon .container div:last-of-type {
  position: absolute;
  right: 0;
  margin-top: -50px;
}
.yFootCon .container div:last-of-type h4 {
  font-size: 14px;
  color: #999999;
}
.yFootCon .container div:last-of-type .yNumber {
  font-size: 11px;
}
.yFootCon .container div:last-of-type .yNumber li {
  margin-top: 2px;
  color: #666666;
}
.yFootCon .container div:last-of-type .yNumber li:first-of-type {
  margin-top: 10px;
}
.yFootCon .container div:last-of-type .yNumber li span {
  color: #333333;
  font-weight: bold;
  margin-right: 5px;
}

img[alt=foot_logo] {
  height: auto;
  margin-right: 25px;
}

.yes24Glory {
  width: 100%;
  height: 110px;
}

img[alt=awards] {
  width: 100%;
  height: auto;
}