@charset "utf-8";
@import "color";

.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
}

.yHeaderTop {
    width: 100%;
    height: 40px;
    background-color: $pointColor;
}

.yHeaderTop .container {
    display: flex;
    justify-content: space-between;
}

.cateLi,
.utilLi {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    color: $mainColor;
}

.cateLi {
    width: 45%;
    font-size: 14px;
    font-weight: bold;
}

.utilLi {
    width: 25%;
    font-size: 11px;
}

.yHeaderMid {
    width: 100%;
    height: 115px;
    background-color: $mainColor;
    border-bottom: 1px solid #ebebeb;
}

.yHeaderMid .container {
    display: flex;
    align-items: center;
    position: relative;
}

img[alt="logo"] {
    width: 200px;
    height: auto;
    margin: 5px 30px;
}

.searchBar {
    width: 515px;
    height: 50px;
    border: 2px solid $pointColor;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;

    input {
        width: 430px;
        height: 46px;
        line-height: 46px;
        margin-left: 15px;
        padding-top: 5px;
        border: 0;
        outline: none;
    }

    input::placeholder {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
    }

    i {
        color: #000000;
        line-height: 46px;
        margin: 0 20px;
        font-size: 24px;
    }
}

.gnbBn {
    position: absolute;
    right: 0;
    width: 180px;
    height: 115px;

    .bnList {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            display: none;
        }

        img:first-child {
            display: block;
        }
    }

    .bnNav {
        position: absolute;
        bottom: 20px;
        right: 5px;
        display: flex;

        button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;

            img {
                width: 14px;
                height: 14px;
            }
        }
    }
}

.yHeaderBot {
    width: 100%;
    height: 45px;
    background-color: $mainColor;
    border-bottom: 2px solid $pointColor;
}

.yHeaderBot .container {
    display: flex;
    justify-content: space-between;
    line-height: 43px;
    font-size: 13px;
}

.yesFixCorner {
    width: 55%;
    display: flex;
    justify-content: space-between;

    h2 {
        width: 110px;
        height: 43px;
        color: $mainColor;
        background-color: $pointColor;
        text-align: center;
        font-size: 13px;
    }
}

.yesCornerLi,
.yesServLi {
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.yesCornerLi {
    color: $pointColor;

    li:last-child {
        color: #ebebeb;
    }
}

.areaSubMenu {
    width: 38%;
    display: flex;
    justify-content: space-between;
    color: #666666;

    li:first-child {
        color: #66BEFF;
    }
}

/* footer */
footer {
    width: 100%;
    height: 300px;
    background-color: #dfdfdf;
}

.yFootTop {
    width: 100%;
    height: 40px;
    border-top: 1px solid #cbcbcb;
}

.yFootTop .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yFootMnuLi {
    width: 80%;
    font-size: 12px;
    color: #666666;

    li {
        float: left;
        padding: 0 10px;
    }

    li::after {
        content: "|";
        float: right;
        margin-right: -10px;
    }

    li:first-child {
        padding-left: 0;
    }

    li:last-child::after {
        content: "";
    }
}

.yFootSnsLi {
    width: 18%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #666666;

    li:last-child {
        font-size: 18px;
    }

    select {
        height: 100%;
        font-size: 11px;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #333333;
        background-color: $subcolor;
        cursor: pointer;
    }
}

.yFootSnsLi>* {
    vertical-align: middle;
}

.yFootCon {
    width: 100%;
    height: 150px;
    border-top: 1px solid #cbcbcb;
}

.yFootCon .container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    div {
        color: #666666;

        &:first-of-type {
            margin-right: 150px;

            h4 {
                margin-top: 10px;
                font-size: 14px;
                color: #999999;
            }

            .yInfo li {
                margin-top: 2px;
                color: #999999;
                font-size: 11px;
                line-height: 16px;

                &:first-of-type {
                    margin-top: 10px;
                }
            }

            p {
                font-size: 11px;
                margin-top: 5px;
                color: #999999;
            }
        }

        &:last-of-type {
            position: absolute;
            right: 0;
            margin-top: -50px;

            h4 {
                font-size: 14px;
                color: #999999;
            }

            .yNumber {
                font-size: 11px;

                li {
                    margin-top: 2px;
                    color: #666666;

                    &:first-of-type {
                        margin-top: 10px;
                    }

                    span {
                        color: #333333;
                        font-weight: bold;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

img[alt="foot_logo"] {
    height: auto;
    margin-right: 25px;
}

.yes24Glory {
    width: 100%;
    height: 110px;
}

img[alt="awards"] {
    width: 100%;
    height: auto;
}