@charset "utf-8";
@import "reset", "color", "common";

.yWelTopWrap {
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
    position: relative;
    display: flex;
}

.mbnWrap {
    width: 110px;
    border-right: 1px solid #d8d8d8;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;

    &>li {
        line-height: 40px;
        background-color: $mainColor;

        &:first-child {
            margin-top: 9px;
        }

        &.hovered {
            background-color: $pointColor;

            a {
                color: $mainColor;
            }
        }
    }
}

.mbnWrap>li>a {
    padding-left: 15px;
    color: #000000;
}

.sub {
    width: 130px;
    height: 418px;
    background-color: $mainColor;
    display: none;
    border-right: 1px solid #d8d8d8;
    position: absolute;
    top: 0;
    left: 109px;
    padding-left: 15px;
    padding-top: 10px;
    z-index: 3;
}

.sub>li {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -1px;
    font-weight: lighter;
    color: #666666;
}

.sub>li:hover {
    text-decoration: underline;
}

.slider {
    width: 1089px;
    z-index: 1;
    position: relative;
}

.slider_img img {
    display: none;

    &:first-of-type {
        display: block;
    }
}

.slider_button {
    width: 1089px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    button {
        width: 217px;
        height: 40px;
        border: 0;
        color: #666666;
        background-color: #f8f8f8;
        font-size: 13px;
        line-height: 40px;

        &.hovered {
            color: $mainColor;
            background-color: #333333;
        }
    }
}

.yWelTopMid {
    width: 1200px;
    height: 390px;
    margin: 0 auto;
    margin-top: 20px;
}

.wConLT {
    width: 240px;
    height: 390px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
}

.yWelYESFD {
    position: relative;
    height: 268px;
    z-index: 1;

    h2 {
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        letter-spacing: -0.5px;
        margin: 9px 0 9px 18px;
    }

    h4 {
        width: 180px;
        margin: 10px 20px;
        line-height: 18px;
        font-size: 13px;
        color: #333;
        font-weight: bold;
        display: none;

        &:first-of-type {
            display: block;
        }
    }
}

.FD_img {
    text-align: center;

    img {
        width: 200px;
        height: 155px;
        display: none;

        &:first-of-type {
            display: inline-block;
        }
    }
}

.prev {
    width: 35px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333333;
    color: $mainColor;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 105px;
    z-index: 2;
    display: none;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.next {
    width: 35px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333333;
    color: $mainColor;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 105px;
    z-index: 2;
    display: none;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.wADSmallBn {
    height: 120px;
    border-top: 1px solid #d8d8d8;
    text-align: center;
}

img[alt="smallBn"] {
    width: 188px;
    height: 99px;
}

.yWelMid {
    width: 1200px;
    height: 385px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
    position: relative;
}

.yWelPubBook {
    width: 239px;
    height: 383px;
    position: absolute;
    right: 0;
    background-color: #ecf5fe;

    h2 {
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        letter-spacing: -0.5px;
        margin: 20px 0 15px 30px;
    }

    li {
        width: 200px;
        height: 130px;
        text-align: center;
        margin: 0 20px 0;

        &:first-of-type {
            border-bottom: 1px solid #d8d8d8;
        }

        &:last-of-type {
            margin-top: 30px;
        }

        img {
            width: 158px;
            height: 100px;
        }
    }
}

.yWelBand {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    text-align: center;
    background: url(../img/bg.jpg) repeat center;
}

img[alt="bg_text"] {
    width: 1200px;
    height: 200px;
}

.yWelMidBot {
    width: 1200px;
    height: 370px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
    position: relative;
}

img[alt="midHTML"] {
    width: 239px;
    height: 368px;
    position: absolute;
    right: 0;
}

.yWelMultiSec {
    width: 1200px;
    height: 690px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
}

.yWelYesTv {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
}

.yWelChYesCard {
    width: 1200px;
    height: 615px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
}

.yesServ {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $mainColor;
    border: 1px solid #d8d8d8;
}

.yWelNotice {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 20px;
}