@charset "utf-8";

@import "reset", "color", "common";

.yWelBand {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    text-align: center;
    background: url(../img/bg.jpg) repeat center;
}

img[alt="bg_text"] {
    width: 1200px;
    height: 200px;
}
